body{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;

}
.links line {
  stroke: #999;
  stroke-opacity: 1;
}

.nodes circle {
  pointer-events: all;
  stroke: #fff;
  stroke-width: 1.5px;
}
.datum{
  display: inline;
}
.ref-number {
  display: block;
  margin: 10px 0;
}
 .ref-text {
  display: block;
  margin: 10px 0;
}
.tags {
  display: inline;
  font-style: italic;
}
.hidden {
  display: none;
}
.off {
  background-color: #ffffff;
  color: #000000;
}
svg {
  border: 1px solid red;
}
#right-hand{
  display: block;
}
#node-box {
  height: 800px;
  width: 300px;
  overflow-y: scroll;
  border: 1px solid red;
  margin-left: 10px;
}
#data{
  padding-left: 20px;
}
ul p{
  display: inline;
}

#display-options{
  height: 200px;
  width: 6  00px;
  margin: 10px;
  border: 1px solid blue;
  text-align: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div.tooltip {
     position: absolute;
     text-align: left;
     padding: 8px;
     font: 16px sans-serif;
     background: #ddd;
     border: solid 1px #aaa;
     pointer-events: none;
 }
 button {
  width: 80px;
 	background-color:#44c767;
 	-moz-border-radius:20px;
 	-webkit-border-radius:20px;
 	border-radius:20px;
 	border:2px solid #18ab29;
 	display:inline-block;
 	cursor:pointer;
 	color:#ffffff;
 	font-family:Arial;
 	font-size:17px;
 	padding:8px 16px;
 	text-decoration:none;
 	text-shadow:0px 1px 0px #2f6627;
 }

 button:active {
   background-color: #ffffff;
   color: #000000;
 	position:relative;
 	top:1px;
 }
